.main-header{
    display: flex;
    flex-direction: column-reverse;
}

.nav-bar{
    
    text-transform: uppercase;

    &__nav-list{
        display: flex;
        list-style-type: none;
        justify-content: center; 

        @media (max-width: 768px){
            &{
                flex-direction: column;
            }
        }
    }
    
    &__nav-item{
        margin: 0 40px;
    }

    &__nav-link{
        display: block;
        padding: 1em 2em;
        text-decoration: none;
        text-align: center;
        color: black;

        &:hover{
            color: #647B6E;
        }
    }

    @media (max-width: 768px){
        &{
            display: none;
        }
    }
}

#menu{
    display: none;

    &:checked ~ .nav-bar{
        display:block;
        background-color: #E7EEEA;
        margin-top: 0;
        margin-top: -3rem;
        // position: absolute;
        // right: 0;
        // top: 2.1rem;
        // z-index: 1;
        // width: 10rem;
    }

    &:checked ~.search-bar .menu-toogle .menu-toogle__label{
        background-color: #E7EEEA;
        border-radius: 5px;
    }
}

.menu-toogle{
    display: none;
    flex: 0 0 1.5rem;
    order: 25;
    margin-top: 10px;
    margin-right: 2.1rem;
    border-radius: 5px;

    &__label{
        display: block;
        height: 100%;
        cursor: pointer;
    }

    &__top-bread, &__meat, &__bottom-bread{
        display: block;
        background-color: black;
        height: .15rem;
        margin: 5px 0;
    }

    @media (max-width: 768px){
        &{ //menu-toogle
            display: block;
        }
    }
}


.search-bar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 35vh;
    flex-wrap: wrap;

    &__logo-container{
        order: 30;
        text-align: center;
        width: 100%;
        color: #647B6E;
    }

    &__form-container{
        order: 10;
        padding-left: 5.1rem;
        padding-top: 10px;
        height: min-content;
        transition: transform 0.1s;

        &:hover {
            transform: translateY(-1px);
        }
    }

    &__form-button{
        border: none;
        background-color: white;
        cursor: pointer;
        text-align: center;
    }

    &__form-search{
        border: none;
        border-bottom: 1px solid black;

        &:hover{
            border-bottom: 1.5px solid black;
        }
    }

    &__form-label{
        display: none;
    }

    &__carrito-container{
        order: 20;
        margin-left: auto;
        padding-right: 5.1rem;
        padding-top: 10px;
        position: relative;
        cursor: pointer;
        
        img{
            width: 1.70em;
            transition: transform 0.1s;
        }

        &:hover{
            transform: translateY(-1px);
        }
    }

    @media (max-width: 760px){
        &__form-container{
            padding-left: 2.3rem;
        }

        &__carrito-container{
            padding-right: 2.3rem;
        }
    }
}

